h1, p {
    font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: white;
}

h1 {
    text-align: center;
    color: blue;
    font-size: 60px;
}

div {
    background-color: aqua;
    width: 94%;
    border: 2px solid black;
    margin: 1%;
    padding: 2%;
}

#portrait {
    width: 15%;
    title: "Kathan Gandhi";
    hspace: "2%";
}