body {
    background-color: tomato;
}

section {
    width: 94%;
    margin: 1%;
    padding: 2%;
    border-color: antiquewhite;
    border-style: solid none solid none;
}

h1, h2, p, a {
    font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
}

p {
    font-size: 20px;
    color: white;
}

h1 {
    text-align: center;
    font-size: 60px;
    color: white;
}

h2 {
    text-decoration: underline;
    font-size: 40px;
    color: white;
}

a {
    text-align: center;
}

/* resume button */
#resume {
    display: block;
    transition-duration: 0.4s; /* animation delay */
    margin: 0 auto;
    width: 150px;
    height: 50px;
    border: 1px solid brown;
    font-weight: bold;
    background-color: antiquewhite;
    color: brown;
}

/* triggered when cursor hovers over #resume button */
#resume:hover {
    background-color: brown;
    color: antiquewhite;
}